*{

    padding: 0;
    margin: 0;
}

#main-header{

    border : 5px solid red;
}

.container{

    display: flex;



}

.nav-list{

    display: flex;
    
    
}

.nav-list li {

    margin : 30px;

    background-color: green;
}

.logo{

    display: flex;
    margin-top: 20px;
}