h1 {

    color: teal;
}

p {

    color: red;
}

.nav_bar{

    display: flex;

    flex-wrap: wrap;

    background-color: blue;
    
}

.nav_list {

    display: flex;

    padding: 10px, 30px;
}

.nav_list li {

    margin: 20px;
}

.nav_list li a {

    color: yellow;

}

.nav_list li :hover {

    color : green;
}